<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="phpUnitTests/bootstrap.php"
         colors="true" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="gRAPH Test Suite">
            <directory>./phpUnitTests/</directory>
        </testsuite>
    </testsuites>
</phpunit>